@charset "UTF-8";

/* reset */
*{
    margin: 0;
    padding: 0;
}
ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    font: normal 15px 'RalewayL';
    color: #444;
}
a {
    text-decoration: none;
}
.blind {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    text-indent: -99999999999px;
    width: 0;
    height: 0;
    font-size: 0;
}

/* 웹경량화 */
@font-face { font-family: 'RalewayL'; src: url(../font/Raleway-Light.ttf); } 
@font-face { font-family: 'RalewayT'; src: url(../font/Raleway-Thin.ttf); } 
@font-face { font-family: 'SpoqaB'; src: url(../font/SpoqaHanSansBold.ttf); } 
@font-face { font-family: 'SpoqaL'; src: url(../font/SpoqaHanSansLight.ttf), url(../font/NanumSquare_acR.ttf), url(../font/SpoqaHanSansLight.woff); } 
@font-face { font-family: 'SpoqaR'; src: url(../font/SpoqaHanSansRegular.ttf), url(../font/SanumSquare_acR.ttf), url(../font/SpoqaHanSansRegular.woff); } 


#wrap {
    width: 100%;
}
#wrap header {
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 4;
    background-color: #fff;
    border-bottom: 1px solid #e6e6e6;
}
#wrap header .header_main {
    width: 1400px;
    height: 70px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    position: relative;
}
h1.logo {
    font-size: 23px;
    letter-spacing: 5px;
    padding-left: 50px;
}
h1.logo span.logoImg {
    background: url(../images/fv.png)no-repeat;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-size: 35px;
}
h1.logo a {
    color: #444;
}
h1.logo a span {
    color: #1ebbd7;
}
h1.logo a span.pf {
    font-size: 12px;
    position: relative;
    top: -2px;
}
h1.logo a span.pf::before {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: -8px;
    width: 1px;
    height: 9px;
    background-color: #444;
}